/**
 * marquee css
 *
 * this allows hover scrolling for overflow text
 * i wish i could do this only with css, but JS takes care of variable 'left'
 *
 * @author Andrew Brown <browner12@gmail.com>
 * @version 1.0
 * @copyright Andrew Brown 2013 
 *
 */
 
.marquee{
	overflow: hidden;
	position: relative;
	left:0px;
	transition:left 1s linear 1s;
	-webkit-transition: left 1s linear 1s;
	white-space: nowrap;
}

.marquee:hover{
	transition:left 3s linear 3s;
	-webkit-transition: left 3s linear 3s;
}

.marqueeContainer{
	overflow: hidden;
}

.marqueeWrapper{
	overflow: hidden;
}